@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);

* {
    font-family: "Source Code Pro";

    padding: 0;
    margin: 0;
    overflow: hidden;
}

:root {
    --color-background: black;
    --color-foreground: white;
}

body {
    color: var(--color-foreground);
    background-color: var(--color-background);
}

/* Book info */
#book-info {
    margin: 1em;
}
#book-info span {
    display: block;
    line-height: 0.9;
}
#book-title {
    font-size: 10vmin;
    font-weight: 600;
    color: var(--color-foreground);
    opacity: 0.3;
}
#book-author {
    font-size: 8vmin;
    color: var(--color-foreground);
    opacity: 0.15;
}
#book-chapter {
    font-size: 4vmin;
    color: var(--color-foreground);
    opacity: 0.15;
}


/* footer */
#footer {
    position: absolute;
    bottom: 1em;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;   
}
#footer span {
    color: var(--color-foreground);
}

/* Center div */
#center-div {
    position: absolute;
    height: 40vh;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#status-indicator {
    font-size: 3vmin;
    font-weight: 500;
}
#current-word {
    font-size: 15vmin;
    font-weight: 400;
    color: var(--color-foreground);
    opacity: 0.3;
    font-family: "Lora";
    user-select: none;

    transition: opacity 0.3s ease-in-out;
}
#wpm-monitor {
    padding-top: 4vh;
    display: flex;
    justify-content: space-around;
    align-items: end;
    font-size: 3vmin;
}
#wpm-monitor span {
    margin-left: 1em;
    margin-right: 1em;
    color: var(--color-foreground);
    opacity: 0.3;
    user-select: none;
}
#wpm-monitor #current-wpm {
    color: var(--color-foreground);
    opacity: 1;
    font-size: 4vmin;
}

/* Buttons */
.button {
    color: var(--color-foreground);
    opacity: 0.3;
}
.button:hover {
    opacity: 1;
    cursor: pointer;
}

/* When in read mode */
.hidden-when-test {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.hidden-when-test[reading="true"] {
    opacity: 0;
}
.hidden-when-test[reading="false"] {
    opacity: 1;
}
#current-word[reading="true"] {
    opacity: 1;
}

/* Menu */
#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
    opacity: 0.9;
}
#menu-options {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
.menu-option {
    font-size: 3vmin;
    line-height: 1.6;
    border-left: 4px solid rgba(0, 0, 0, 0);
    padding-left: 0.2em;
    transition: border-left 0.2s ease-in-out;
}
.menu-option:hover {
    cursor: pointer;
    border-left: 4px solid var(--color-foreground);
}
#menu-close-button {
    position: absolute;
    left: 50%;
    bottom: 2em;
    transform: translateX(-50%);
}
#menu-close-button {
    font-size: 3vmin;
}
#menu-close-button:hover {
    cursor: pointer;
}

/* Smartphone specific CSS */
@media (max-width: 768px) and (orientation: portrait) {
    #wpm-monitor {
        font-size: 5vmin;
        justify-content: space-between;
    }
    #center-div {
        height: 30vh;
        width: 100%;
    }
    #footer {
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        text-align: center;   
    }
    #menu-options {
        transform: translate(-50%, -70%);
    }
    .menu-option {
        font-size: 6vmin;
        margin-bottom: 1em;
        line-height: 1;
    }
    #menu-close-button {
        bottom: 15%;
        font-size: 6vmin;
    }
    #current-word {
        font-size: 13vmin;
    }
}